.sign-in-label {
    -fx-font-size: 30px;
    -fx-text-fill: #2E2E2E;
   
    -fx-padding: -200px 0 0 0; 
    -fx-font-family: "Montserrat";
    -fx-font-weight: 600; 
}

.Or-style{
	-fx-font-size:13px;
    -fx-text-fill: #2E2E2E;
    -fx-font-family: "Montserrat";
    -fx-font-weight: 600; 
}



.Infor-style{
	-fx-font-size:10px;
    -fx-text-fill: #FFF;
    -fx-font-family: "Montserrat";
    -fx-font-weight: 600; 
}

.Gmailst-style{
	-fx-font-size:10px;
    -fx-text-fill: #FFF;
    -fx-font-family: "Montserrat";
    -fx-font-weight: 600; 
}



.Phonest-style{
	-fx-font-size:10px;
    -fx-text-fill: #FFF;
    -fx-font-family: "Montserrat";
    -fx-font-weight: 600; 
}


.rectangle-style {
	-fx-fill: #2E2E2E;
	
}


.rectanglesefli-style {
	-fx-fill: #2E2E2E;
	-fx-border-radius: 29px 29px 0px 0px;
}


.StockLab-style{
	 -fx-font-size: 35px;
    -fx-text-fill: #2E2E2E;
     -fx-font-family: "Proza Libre";
     -fx-font-weight: 700; 
    -fx-padding: -400px 0 0 -85px;
}


/* styles.css */
.email-field {
    -fx-background-color: #FFF;
    -fx-border-color: #2E2E2E;
    -fx-border-width: 1px;
    -fx-border-radius: 30px;
    -fx-padding: 8px 15px;
    -fx-box-shadow: 0px 4px 15px 0px rgba(46, 46, 46, 0.15), 0px 1px 2px 0px rgba(94, 101, 129, 0.33);
	-fx-max-width: 225px;
	-fx-background-insets: 0;
    -fx-background-radius: 29px; 
	
}


.pass-field {
    -fx-background-color: #FFF;
    -fx-border-color: #2E2E2E;
    -fx-border-width: 1px;
    -fx-border-radius: 30px;
    -fx-padding: 8px 15px;
    -fx-box-shadow: 0px 4px 15px 0px rgba(46, 46, 46, 0.15), 0px 1px 2px 0px rgba(94, 101, 129, 0.33);
	-fx-max-width: 225px;
	fx-background-insets: 0;
	 -fx-background-insets: 0;
    -fx-background-radius: 29px; 
}

.loginButton-style{
	-fx-background-color: #FEB700;
	-fx-font-size: 16px; 
	-fx-min-width: 95px;
	 -fx-font-family: "Proza Libre";
	-fx-min-height: 30px;
	-fx-background-radius: 18px; 
}

.Create_an_account-Style{
	-fx-background-color: #FEB700;
	-fx-font-size: 16px; 
	-fx-min-width: 95px;
	 -fx-font-family: "Proza Libre";
	-fx-min-height: 30px;
	-fx-background-radius: 18px; 
}

.rectangleBlur-Style{
	  -fx-fill: #FFF;
	
}